.body-class {
  background-color: #f8f6f6;
}

.header-class {
  background-color: #141414; 
  color: #fff; 
}

.nav-class {
  background-color: #7c7c7c; 
  color: #fff;
}

.nav-link-class:hover {
  font-weight: bold;
}

.title-class {
  color: #ff5500;
}

.section-title-class {
  color: #40ba44; 
}

.text-class {
  color: #101010;
}

.image-class {
  border: 2px solid #ff5500;
}

.form-class input[type="text"],
.form-class input[type="email"],
.button-class {
  background-color: #40ba44;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.footer-class {
  background-color: #676767;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
